
.navigation {
  display: none !important;
}

#footer {
  display: none !important;
}

.hero-area:before {
    background: none !important;
}

.hero-area {
    background-position: center;
}

.content {
    margin: 0px;
}